html 
  head 
    title JavaScript
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body.container
    h2 Login 
    p please login to start your session 
    form(method="POST").form-group
      label(for="username") Username 
      input(type="text" name="username" placeholder="Username")#username.form-control
      label(for="password") Password 
      input(type="password" name="password" placeholder="Password")#password.form-control
      hr
      button(type="submit").btn.btn-success Login

    p Don't Have an Account?
    p Register 
      a(href="/register") here
